alias ~="cd ~"
alias ..="cd .."
alias ll="ls -al"
alias upgrade="sudo apt update && sudo apt upgrade -y"
alias system="cd /etc/systemd/system"
alias home="cd ~"
alias dua="du -h --max-depth=1 | sort -rh"