alias ~="cd ~"
alias ..="cd .."
alias ll="ls -al"
alias h="history"
alias upgrade="sudo apt update && sudo apt upgrade -y"
alias system="cd /etc/systemd/system"
alias home="cd ~"
alias dua="du -h --max-depth=1 | sort -rh"
alias hgrep="history | grep "
alias log="sudo journalctl -fu"
alias reload="sudo systemctl daemon-reload"
alias e="exit"
alias gc="git checkout"
alias gt="git tag"
alias gp="git pull"
start() { sudo service "$@" start; }
restart() { sudo service "$@" restart; }
stop() { sudo service "$@" stop; }
cheat() {
  curl -m 10 "http://cheat.sh/${1}" 2>/dev/null || printf '%s\n' "[ERROR] Something broke"
}
alias mi="make install"
