---
- name: Install essentials
  apt:
    name:
      - net-tools
      - ncdu
      - vnstat
      - tree
      - htop
      - zip
      - ufw
      - bash-completion
    state: latest
    update_cache: true
