---
- name: Create users
  import_tasks: create_users.yml

- name: Configure Machine
  import_tasks: configure_machine.yml

- name: Create Aliases
  import_tasks: create_aliases.yml

- name: Update machine
  import_tasks: update_machine.yml

- name: Install essentials
  import_tasks: install_essentials.yml
